.social {
	
	&__buttons {
		font-size: 0;
		text-align: center;
	}
	
	&__icon {
		background: #7d7e80;
		display: inline-block;
		border-radius: 50%;
		width: 60px;
		height: 60px;
		position: relative;
		margin-right: 16px;
		transition: all 0.3s ease;
		text-decoration: none;
		
		&:last-child {
			margin-right: 0;
		}
	
		&:before {
			content: '';
			position: absolute;
			font-family: "fontello";
			font-style: normal;
			font-weight: normal;
			speak: none;

			display: inline-block;
			text-decoration: none;
			width: 1em;
			margin-right: .2em;
			text-align: center;
			/* opacity: .8; */

			/* For safety - reset parent styles, that can break glyph codes*/
			font-variant: normal;
			text-transform: none;
			color: #fff;
		}
		
		&._tw {
			&:hover {
				background: #5aa8df;
			}
			&:before {
				content: '\e800';
				font-size: 40px;
				left: 10px;
				top: 8px;
			}	
		}
		
		&._vk {
			&:hover {
				background: #48729e;
			}
			
			&:before {
				content: '\e804';
				font-size: 39px;
				left: 9px;
				top: 7px;
			}
		}
		
		&._fb {
			&:hover {
				background: #3b599b;
			}
			
			&:before {
				content: '\e802';
				top: 11px;
				left: 12px;
				font-size: 35px;

			}
		}
	}
}