mixin social()
    section.content-box.social
        h1.content-box__title Мы в соцсетях
        .social__buttons
            a.social__icon._fb(href="#")
            a.social__icon._vk(href="#")
            a.social__icon._tw(href="#")