mixin novel()
    section.content-box.novel
        .content-box__date 23.03.2015
        h1.content-box__title._red 
            | Обзор 7-го этапа на Moscow Raceway 1-3 октября
        .content-box__intro 
            | 1-3 октября прошел очередной, уже 7-й в сезоне 2014 года, этап нашей серии.
        .content-box__content.novel__inner
            .novel__photos
                img.novel__photo._rounded(src="./images/content/news-mini-1.jpg", alt="")
                img.novel__photo._rounded(src="./images/content/news-mini-2.jpg", alt="")
                img.novel__photo._rounded(src="./images/content/news-mini-1.jpg", alt="")
                img.novel__photo._rounded(src="./images/content/news-mini-2.jpg", alt="")
                img.novel__photo._rounded(src="./images/content/news-mini-1.jpg", alt="")
            .novel__content
                .novel__text
                    p
                        | Как много может изменить одно только слово, одно существительное, прилагательное, 
                        | местоимения… В словосочетании «этап «Формулы Россия» в Сочи» не было бы особого 
                        | драматизма, если бы не прилагательное «заключительный» в начале. Сочи добавили 
                        | сложностей в проведении этапа. В ноябре там темнеет в 17-00. Причём «темнеет» 
                        | по-взрослому, город укутывается в абсолютный сумрак.
                    p
                        | Интрига закручивалась, словно кобра, придавленная к земле рогатиной. Если братья 
                        | Лобода не смогут удержать лидерство, сойдут по техническим или иным причинам, то 
                        | появлялись шансы на чемпионскую корону и у других участников. В свободных практиках 
                        | Юрий Лобода попробовал на прочность свой болид и прочность отбойника. Отбойник выиграл, 
                        | рычаги подвески проиграли. Для претендентов на чемпионство это был сигнал. В квалификации 
                        | единственная девушка среди пилотов, Люба Андреева разогнала свой болид до 230 км/ч, чем 
                        | немало удивила даже тренеров. Но гонка расставила всё по местам.
                    p
                        | На первой гонке этапа почему-то решили обойтись без грид-гёлз, что сильно убавило зрелищности 
                        | грид-процедуре. Но сама гонка компенсировала этот недостаток с запасом. Уже на первом кругу 
                        | первой гонки Станислав Бурмистров допустил ошибку, подкравшись сзади слишком близко к Юрию 
                        | Григоренко, и вынес его с трассы пинком в заднее левое колесо. Совершив двойной тулуп, болид 
                        | Юрия вылетел в зону безопасности, где замер. Пилот покинул кокпит и отправился в боксы пешком.
                        | А Станислав смог дотянуть до боксов, где механики тут же заменили повреждённый спойлер его 
                        | болида. Правда тут как раз в боксы прибыл Юрий и попытался повздорить со Станиславом. 
                        | Его не смущали ни шлем на Бурмистрове, ни работающие механики, ни снимающие это журналисты.
                .novel__share
                    +share
        .novel__news
           +news
        a.link._back.novel__link-back(href="./news.html") К списку новостей