mixin results()
    section.results
        table.results__table
            thead
                tr
                    td._num Место
                    td._name Пилот
                    td._score Очки
            tbody
                tr
                    td 1
                    td Лобода Михаил
                    td 323
                tr
                    td 2
                    td Яворовский Игорь
                    td 237
                tr
                    td 3
                    td Бурмистров Станислав
                    td 213
                tr
                    td 4
                    td Лобода Юрий
                    td 169
                tr
                    td 5
                    td Сафронов Станислав
                    td 141
                tr
                    td 6
                    td Григоренко Юрий
                    td 131
                tr
                    td 7
                    td Андреева Люба
                    td 58
                tr
                    td 8
                    td Корнеев Денис
                    td 54
                tr
                    td 9
                    td Рязанов Алексей
                    td 39
                tr
                    td 10
                    td Королевский Кирилл
                    td 32
                tr
                    td 10
                    td Тзиортзис Владимир
                    td 20
                tr
                    td 12
                    td Чубаров Иван
                    td 18
                tr
                    td 13
                    td Валиуллин Мурат
                    td 10
                tr
                    td 14
                    td Екельчик Иван
                    td 4
        .results__more
            a.results__link-all(href="#") Подробная таблица чемпионата