mixin latest-events()
    section.content-box.latest-events
        h1.content-box__title Последние события 
        
        .latest-events__news
            +news    
        .latest-events__video
            +video

        .latest-events__banner
            a.banner(href="#")
                img.banner__image._rounded(src="./images/content/banner-1.jpg")