mixin calendar()
    .calendar
        table.calendar__table(onclick='return {"calendar": {}}').js-widget
            tbody
                tr
                    td._period 
                        span.calendar__period 08-10.05
                    td._title
                        a.calendar__item-title(href="#") Казань Ринг
                        .calendar__item-desc Совместно с Чемпионатом Татарстана
                    td._details
                        a.calendar__link._results(href="#") Результаты
                tr
                    td._period 
                        span.calendar__period 29-31.05
                    td._title
                        a.calendar__item-title(href="#") Нижегородское кольцо
                        .calendar__item-desc Совместно с Российской дрифт-серией (РДС) и популярной Нижегородской серией соревнований National Light Series (NLS)
                    td._details
                        a.calendar__link._howto(href="#", data-popup="1") Как попасть
                        .calendar__popup-container
                            +calendar-popup(1)
                tr
                    td._period
                        span.calendar__period 05-07.06
                    td._title
                        a.calendar__item-title(href="#") Moscow-Raceway
                        .calendar__item-desc Вместе с World Touring Car Championship (WTCC) - TBC
                    td._details
                        a.calendar__link._howto(href="#", data-popup="2") Как попасть   
                        .calendar__popup-container
                            +calendar-popup(2)
                tr
                    td._period
                        span.calendar__period 26-28.06
                    td._title
                        a.calendar__item-title(href="#") Казань Ринг
                        .calendar__item-desc Совместно с Чемпионатом Татарстана
                    td._details
                        a.calendar__link._howto(href="#", , data-popup="3") Как попасть   
                        .calendar__popup-container
                            +calendar-popup(3)
                tr
                    td._period
                        span.calendar__period 24-26.07
                    td._title
                        a.calendar__item-title(href="#") Смоленское кольцо
                        .calendar__item-desc Вместе с Российской дрифт-серией (РДС)
                    td._details
                        a.calendar__link._howto(href="#", data-popup="4") Как попасть  
                        .calendar__popup-container
                            +calendar-popup(4)
                tr
                    td._period
                        span.calendar__period 28-30.08
                    td._title
                        a.calendar__item-title(href="#") Moscow-Raceway
                        .calendar__item-desc Вместе с Deutsche Tourenwagen Masters (DTM) - TBC
                    td._details
                        a.calendar__link._howto(href="#", data-popup="5") Как попасть
                        .calendar__popup-container
                            +calendar-popup(5)
                tr
                    td._period
                        span.calendar__period 11-13.08
                    td._title
                        a.calendar__item-title(href="#") Сочи Автодром
                        .calendar__item-desc TBC
                    td._details
                        a.calendar__link._howto(href="#", data-popup="6") Как попасть
                        .calendar__popup-container
                            +calendar-popup(6)
                tr
                    td._period
                        span.calendar__period 14-17.09
                    td._title
                        a.calendar__item-title(href="#") Крепость Грозная
                        .calendar__item-desc При условии окончания строительства автодрома и получения необходимых лицензий.
                    td._details
                        a.calendar__link._howto(href="#", data-popup="7") Как попасть
                        .calendar__popup-container
                            +calendar-popup(7)
























