mixin main-menu()
    .main-menu
        a.main-menu__link(href="./series.html") О серии
        a.main-menu__link(href="./news.html") Новости
        a.main-menu__link(href="./calendar.html") Календарь
        a.main-menu__link(href="./teams.html") Команды и пилоты
        a.main-menu__link(href="./advertise.html") Рекламодателям
                