mixin main-menu()
    .main-menu
        a.main-menu__link(href="#") О серии
        a.main-menu__link(href="#") Новости
        a.main-menu__link(href="#") Календарь
        a.main-menu__link(href="#") Команды и пилоты
        a.main-menu__link(href="#") Рекламодателям
                