mixin series()
    section.content-box.series
        .series__main
            .series__section
                .infoblock
                    h2.infoblock__title О проекте
                    .infoblock__section
                        .infoblock__photos
                            img.infoblock__photo._rounded(src="./images/content/event-1.jpg", alt="")
                        .infoblock__content
                            .infoblock__intro
                                | Цель Проекта &ndash; создание российской формульной моносерии, 
                                br
                                | базирующейся на следующих принципах:
                            ul
                                li
                                    | Единая команда обслуживает все болиды серии по единому регламенту;
                                li
                                    | Единый склад запчастей;
                                li
                                    | Единый поставщик шин и шинного сервиса;
                                li
                                    | Единый поставщик топлива, масла и других технических жидкостей;
                                li
                                    | Ограниченное количество разрешенных настроек болидов;
                                li
                                    | Максимальное удешевление участия спортсмена в серии при обеспечении европейского качества обслуживания;
                                li
                                    | Создание гоночной школы для облегчения перехода спортсменов-картингистов в серию;
                                li
                                    | Высокий призовой фонд для облегчения призерам Серии перехода в «старшие» формульные серии;
                            
                .infoblock
                    .infoblock__section
                        .infoblock__photos
                            img.infoblock__photo._rounded(src="./images/content/event-2.jpg", alt="")
                        .infoblock__content
                            .infoblock__intro Основные принципы Проекта
                            ul
                                li
                                    | Используя разумную экономию и следуя международным стандартам, создать в России устойчивую  ступень системы карьерного роста спортсмена-автогонщика в классе «формула».
                                li 
                                    | Проводить соревнования на принципах честного соперничества, спортивной этики, технической справедливости, Спортивного Кодекса РАФ.
                                li
                                    | Популяризировать автоспорт, достичь высокого уровня общественной значимости автоспорта в России.
                
            .series__section
                .infoblock
                    h2.infoblock__title Формат соревнований
                    .infoblock__section
                        .infoblock__photos
                            img.infoblock__photo._rounded(src="./images/content/event-1.jpg", alt="")
                        .infoblock__content
                            .infoblock__intro Формат гоночного уикенда
                            p
                                | 6 гоночных этапов по 2 гонки в каждом.
                                br
                                | Пятница – свободные тренировки: 2 x 30’ или 3 x 30’
                                br
                                | Суббота - Квалификация: 1 x 30’ -    Гонка-1: 20’ + 1 круг
                                br
                                | Воскресенье - Гонка-2: 20’ + 1 круг
                                br
                                | Стартовая решетка
                                br
                                | Расстановка на стартовой решетке первой гонки – по результатам квалификации.
                                br
                                | Расстановка на стартовой решетке второй гонки – по результатам первой гонки.
                                br
                                | Начисление очков:
                                br
                                | Место        1°  2°  3°  4°  5°  6°  7°  8°  9° 10°
                                br
                                | Гонка 1:    25 18 15 12  10   8    6   4   2    1
                                br
                                | Гонка 2:    13 11  9   7   6    5    4   3   2    1
                                br
                                | 1 бонусный балл за поул-позишн.
                                br
                                | 1 бонусный балл за быстрейший круг по итогам двух гонок.
                                br
                                | Ограничения по количеству покрышек:
                                br
                                | 2 комплекта новых покрышек (квалификация + гонки)
                                br
                                | 2 использованных покрышек (на тренировки)
                                br
                                | “Использованные” покрышки - маркированные, оставшиеся от предыдущего уикенда.
                                .series__share
                                    +share
                                .series__requirements
                                    a.series__req-link(href="#") Технические требования к болидам
        .series__documents
            h2.series__title Документы серии
            +documents