mixin news-preview(id)
    if id == '1'
        .news-preview
                a(href="#")
                    img.news-preview__image._rounded(src="./images/content/event-1.jpg")
                .news-preview__info
                    a.news-preview__title(href="#") Обзор 7-го этапа на Moscow Raceway 1-3 октября
                    .news-preview__desc 
                        | 1-3 октября прошел очередной, уже 7-й в сезоне 2014 года, этап нашей серии.
    else if id == '2'
        .news-preview
            a(href="#")
                img.news-preview__image._rounded(src="./images/content/event-2.jpg")
            .news-preview__info
                a.news-preview__title(href="#") Перенос этапа из Сочи
                .news-preview__desc 
                    | К сожалению, запланированный на 13-14 сентября 2014 г. этап в г. Сочи перенесен.