mixin footer()
    .footer
        .footer__main
            .footer__logo
                +logo('_white')
            .footer__contacts
                +contacts-card
        .footer__copyrights
            | Использование материалов сайта без разрешения правообладателя запрещено.  &copy; Formula-Masters 2011-2015
        .footer__dev
            | Сайт разработан 
            a.footer__dev-link(href="#") MVPStudio
            
        