mixin nearest-stage()
    .nearest-stage
            .nearest-stage__title Ближайший этап
            .nearest-stage__info
                .nearest-stage__row 8-10 мая  - 1 этап (стартовый) 
                .nearest-stage__row "Казань-ринг”
                        