mixin scores()
    section.content-box._page.scores
        h1.content-box__title._red Турнирная таблица
        .content-box__intro
            | Регламент начисления очков в этом году останется прежний.
        table.scores__table(border='1', cellpadding='0', cellspacing='0')
            colgroup
                col(style='width: 23pt;', width='31')
                col(style='width: 56pt;', width='74')
                col(style='width: 114pt;', width='152')
                col(style='width: 62pt;', width='82')
                col(style='width: 46pt;', span='12', width='61')
                col(style='width: 50pt;', span='2', width='66')
            tbody
                tr(style='height: 33pt;', height='44')
                    td.xl71(style='height: 33pt; width: 23pt; text-align: center;', height='44', width='31') №
                    td.xl71(style='border-left: medium none; width: 56pt; text-align: center;', width='74')
                        span(style='font-size: 8pt;') Старт
                        |  №
                    td.xl71(style='border-left: medium none; width: 114pt; text-align: center;', width='152') Пилот
                    td.xl71(style='border-left: medium none; width: 62pt; text-align: center;', width='82')
                        strong
                            span(style='color: #000000;') Гонка
                    td.xl71(style='border-left: medium none; width: 46pt; text-align: center;', width='61')
                        strong
                            span(style='color: #000000;') 1
                    td.xl71(style='border-left: medium none; width: 46pt; text-align: center;', width='61')
                        strong
                            span(style='color: #000000;') 2
                    td.xl71(style='border-left: medium none; width: 46pt; text-align: center;', width='61')
                        strong
                            span(style='color: #000000;') 3
                    td.xl71(style='border-left: medium none; width: 46pt; text-align: center;', width='61')
                        strong
                            span(style='color: #000000;') 3
                    td.xl71(style='border-left: medium none; width: 46pt; text-align: center;', width='61')
                        strong
                            span(style='color: #000000;') 4
                    td.xl71(style='border-left: medium none; width: 46pt; text-align: center;', width='61')
                        strong
                            span(style='color: #000000;') 5
                    td.xl71(style='border-left: medium none; width: 46pt; text-align: center;', width='61')
                        strong
                            span(style='color: #000000;') 6
                    td.xl71(style='border-left: medium none; width: 46pt; text-align: center;', width='61')
                        strong
                            span(style='color: #000000;') 7
                    td.xl71(style='border-left: medium none; width: 46pt; text-align: center;', width='61')
                        strong
                            span(style='color: #000000;') 8
                    td.xl71(style='border-left: medium none; width: 46pt; text-align: center;', width='61')
                        strong
                            span(style='color: #000000;')  10
                    td.xl71(style='border-left: medium none; width: 46pt; text-align: center;', width='61')
                        strong
                            span(style='color: #000000;') 11
                    td.xl71(style='border-left: medium none; width: 46pt; text-align: center;', width='61')
                        strong
                            span(style='color: #000000;') 12
                    td.xl71(style='border-left: medium none; width: 46pt; text-align: center;', width='61')
                        strong
                            span(style='color: #000000;') 13
                    td.xl71(style='border-left: medium none; width: 46pt; text-align: center;', width='61')
                        strong
                            span(style='color: #000000;') 14
                    td.xl71(style='border-left: medium none; width: 46pt; text-align: center;', width='61')
                        strong
                            span(style='color: #000000;') 15
                    td.xl71(style='border-left: medium none; width: 46pt; text-align: center;', width='61')
                        strong
                            span(style='color: #000000;') 16
                    td.xl71(style='border-left: medium none; width: 50pt; text-align: center;', width='66') ИТОГО   (без трех)
                    td.xl71(style='border-left: medium none; width: 50pt; text-align: center;', width='66')
                        span(style='color: #ff0000;') ИТОГО:
                tr(style='height: 15.75pt;', height='21')
                    td.xl68(colspan='4', style='height: 15.75pt; border-top: medium none; text-align: right;', height='21')
                        span(style='color: #0000ff;')  
                        span(style='color: #0000ff;') Спорт. звание
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') K-ring
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') K-ring
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') N-Ring
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') K-ring
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') MRW
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') MRW
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') K-ring
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') K-ring
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') K-ring
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') K-ring
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') Sm-ring
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') Sm-ring
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') MRW
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') MRW
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') Sochi
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') Sochi
                    td.xl68(style='border-top: medium none; border-left: medium none; text-align: center;', colspan='2')
                        span(style='color: #ff0000;')  
                tr(style='height: 15.75pt;', height='21')
                    td.xl69(style='height: 15.75pt; border-top: medium none; text-align: center;', height='21') 1
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 7
                    td.xl70(style='border-top: medium none; border-left: medium none;')
                        strong
                            | Лобода  Михаил
                            br
                    td.xl75(style='border-top: medium none; border-left: medium none; text-align: center;')
                        span(style='font-size: 8pt; color: #0000ff;') КМС
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 1
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 26
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 26
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 25
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 18
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 18
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 27
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 15
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  26
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 25 
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 10 
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  12
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 16
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  27
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  25
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 26
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                        strong 300
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                        span(style='color: #ff0000;')
                            strong 323
                tr(style='height: 15.75pt;', height='21')
                    td.xl69(style='height: 15.75pt; border-top: medium none; text-align: center;', height='21') 2
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 20
                    td.xl70(style='border-top: medium none; border-left: medium none;')
                        strong
                        strong Яворовский Игорь
                    td.xl75(style='border-top: medium none; border-left: medium none; text-align: center;')
                        span(style='font-size: 8pt; color: #0000ff;') КМС
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 18
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 19
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 18
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 15
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 12
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 15
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') н/к
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 26
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  15
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 15 
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 12 
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  15
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  26
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  18
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 13
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') н/к
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                        strong 225
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                        span(style='color: #ff0000;')
                            strong
                        span(style='color: #ff0000;')
                            strong 237
                tr(style='height: 15.75pt;', height='21')
                    td.xl69(style='height: 15.75pt; border-top: medium none; text-align: center;', height='21') 3
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 97
                    td.xl70(style='border-top: medium none; border-left: medium none;')
                        strong
                        strong
                            | Бурмистров Станислав
                            br
                    td.xl75(style='border-top: medium none; border-left: medium none; text-align: center;')
                        span(style='font-size: 8pt; color: #0000ff;')
                        span(style='font-size: 8pt; color: #0000ff;') КМС
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 26
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 12
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 11
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 14
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 15
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  н/к
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  18
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 19
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  12
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  20
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  18
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  10
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 8
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 10
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  8
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  12
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                        strong 197
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                        span(style='color: #ff0000;')
                            strong 213
                tr(style='height: 15.75pt;', height='21')
                    td.xl69(style='height: 15.75pt; border-top: medium none; text-align: center;', height='21') 4
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 22
                    td.xl70(style='border-top: medium none; border-left: medium none;')
                        strong Лобода     Юрий
                    td.xl75(style='border-top: medium none; border-left: medium none; text-align: center;')
                        p
                            span(style='font-size: 8pt; color: #0000ff;')
                                | КМС 
                                br
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 15
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 8
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 15
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 18
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  10
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 10
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  н/к
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 12
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 8
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') н/к 
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  15
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  8
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 12
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 8
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 15
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  15
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                        strong 161
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                        span(style='color: #ff0000;')
                            strong 169
                tr(style='height: 15.75pt;', height='21')
                    td.xl69(style='height: 15.75pt; border-top: medium none; text-align: center;', height='21') 5
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 3
                    td.xl70(style='border-top: medium none; border-left: medium none;')
                        strong Сафронов Станислав
                    td.xl75(style='border-top: medium none; border-left: medium none; text-align: center;')
                        span(style='font-size: 8pt; color: #0000ff;')
                        span(style='font-size: 8pt; color: #0000ff;')
                            | МС
                            br
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') н/к
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 0
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 8
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  15
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 8
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 19 
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 12 
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  2
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  27
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 18
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 12
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 19
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 1
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                        strong 141
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                        span(style='color: #ff0000;')
                            strong 141
                tr(style='height: 15.75pt;', height='21')
                    td.xl69(style='height: 15.75pt; border-top: medium none; text-align: center;', height='21') 6
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 61
                    td.xl70(style='border-top: medium none; border-left: medium none;')
                        strong
                        strong Григоренко Юрий
                    td.xl75(style='border-top: medium none; border-left: medium none; text-align: center;')
                        span(style='font-size: 8pt; color: #0000ff;')
                        span(style='font-size: 8pt; color: #0000ff;') МС
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 1
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 2
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 12
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 10
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 10 
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  10
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 25 
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  18
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  10
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 15
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') н/к
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 18
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                        strong 131
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                        p
                            span(style='color: #ff0000;')
                                strong 131
                tr(style='height: 15.75pt;', height='21')
                    td.xl69(style='height: 15.75pt; border-top: medium none; text-align: center;', height='21') 7
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 46
                    td.xl70(style='border-top: medium none; border-left: medium none;')
                        strong Андреева Люба
                    td.xl75(style='border-top: medium none; border-left: medium none; text-align: center;')
                        span(style='font-size: 8pt; color: #0000ff;') КМС
                        span(style='font-size: 8pt; color: #0000ff;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 10
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 10
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') н/к
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') д/к
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') н/к
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 10
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 6
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 2
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 4
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  6
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') н/к
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  н/к
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 10
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                        strong 58
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                        span(color='#ff0000', style='color: #ff0000;')
                            b
                                | 58
                                br(data-mce-bogus='1')
                tr(style='height: 15.75pt;', height='21')
                    td.xl69(style='height: 15.75pt; border-top: medium none; text-align: center;', height='21') 8
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  14
                    td.xl70(style='border-top: medium none; border-left: medium none;')
                        strong
                        strong Корнеев Денис
                    td.xl75(style='border-top: medium none; border-left: medium none; text-align: center;')
                        span(style='font-size: 8pt; color: #0000ff;')
                        span(style='font-size: 8pt; color: #0000ff;') МС
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  27
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 27
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') н/с 
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                        strong 54
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                        span(color='#ff0000', style='color: #ff0000;')
                            b 54
                tr(style='height: 15.75pt;', height='21')
                    td.xl69(style='height: 15.75pt; border-top: medium none; text-align: center;', height='21') 9
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 48
                    td.xl70(style='border-top: medium none; border-left: medium none;')
                        strong Рязанов Алексей
                    td.xl75(style='border-top: medium none; border-left: medium none; text-align: center;')
                        span(style='font-size: 8pt; color: #0000ff;') 1 разряд
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 12
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 15 
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') н/с 
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 6 
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 6 
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') н/с 
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') н/с 
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') н/с 
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                        strong 39
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                        strong
                            span(style='color: #ff0000;') 39
                tr(style='height: 15.75pt;', height='21')
                    td.xl69(style='height: 15.75pt; border-top: medium none; text-align: center;', height='21') 10
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  5
                    td.xl70(style='border-top: medium none; border-left: medium none;')
                        strong Королевский Кирилл
                    td.xl75(style='border-top: medium none; border-left: medium none; text-align: center;')
                        span(style='font-size: 8pt; color: #0000ff;') МС
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 12
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 8
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 12
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') н/с 
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') н/с 
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') н/с 
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                        strong 32
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                        strong
                            span(style='color: #ff0000;') 32
                tr(style='height: 15.75pt;', height='21')
                    td.xl73(style='height: 15.75pt; border-top: medium none; text-align: center;', height='21') 11
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  69
                    td.xl70(style='border-top: medium none; border-left: medium none;')
                        strong Тзиортзис Владимир
                    td.xl75(style='border-top: medium none; border-left: medium none; text-align: center;')
                        span(style='font-size: 8pt; color: #0000ff;') б/р
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 2
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  4
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 6 
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 8 
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') н/с 
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') н/с 
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                        strong 20
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                        strong
                            span(style='color: #ff0000;') 20
                tr(style='height: 15.75pt;', height='21')
                    td.xl73(style='height: 15.75pt; border-top: medium none; text-align: center;', height='21') 12
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  80
                    td.xl70(style='border-top: medium none; border-left: medium none;')
                        strong
                            | Чубаров Иван
                            br
                    td.xl75(style='border-top: medium none; border-left: medium none; text-align: center;')
                        span(style='font-size: 8pt; color: #0000ff;') КМС
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') н/с
                    td.xl74(style='border-top: medium none; border-left: medium none; text-align: center;') н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') н/с 
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  10
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  8
                    td.xl74(style='border-top: medium none; border-left: medium none; text-align: center;')
                        strong 18
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                        strong
                            span(style='color: #ff0000;') 18
                tr(style='height: 15.75pt;', height='21')
                    td.xl69(style='height: 15.75pt; border-top: medium none; text-align: center;', height='21') 13
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  16
                    td.xl70(style='border-top: medium none; border-left: medium none;')
                        strong
                        strong Валиуллин Мурат
                    td.xl75(style='border-top: medium none; border-left: medium none; text-align: center;')
                        span(style='font-size: 8pt; color: #0000ff;') 1 разряд
                        span(style='font-size: 8pt; color: #0000ff;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') н/с 
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') н/с 
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 4
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  6
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  н/с 
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  н/с 
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                        strong 10
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                        span(style='color: #ff0000;')
                            strong 10
                        span(style='color: #ff0000;')
                            strong
                tr(style='height: 15.75pt;', height='21')
                    td.xl69(style='height: 15.75pt; border-top: medium none; text-align: center;', height='21') 14
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  21
                    td.xl70(style='border-top: medium none; border-left: medium none;')
                        strong Екельчик Иван
                    td.xl75(style='border-top: medium none; border-left: medium none; text-align: center;')
                        span(style='font-size: 8pt; color: #0000ff;')
                        span(style='color: #0000ff;') КМС
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') 4
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') д/к
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')  н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;') н/с
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                        strong 4
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                        span(style='color: #ff0000;')
                            strong
                        span(style='color: #ff0000;')
                            strong 4
                tr(style='height: 15.75pt;', height='21')
                    td.xl69(style='height: 15.75pt; border-top: medium none; text-align: center;', height='21') 15
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl70(style='border-top: medium none; border-left: medium none;')
                    td.xl75(style='border-top: medium none; border-left: medium none; text-align: center;')
                        span(style='font-size: 8pt; color: #0000ff;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                        strong
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                        span(style='color: #ff0000;')
                            strong
                tr(style='height: 15.75pt;', height='21')
                    td.xl69(style='height: 15.75pt; border-top: medium none; text-align: center;', height='21') 16
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl70(style='border-top: medium none; border-left: medium none;')
                    td.xl75(style='border-top: medium none; border-left: medium none; text-align: center;')
                        span(style='font-size: 8pt; color: #0000ff;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                        strong
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                        span(style='color: #ff0000;')
                            strong
                tr(style='height: 15.75pt;', height='21')
                    td.xl69(style='height: 15.75pt; border-top: medium none; text-align: center;', height='21') 17
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl70(style='border-top: medium none; border-left: medium none;')
                    td.xl75(style='border-top: medium none; border-left: medium none; text-align: center;')
                        span(style='font-size: 8pt; color: #0000ff;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                        strong
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                        span(style='color: #ff0000;')
                            strong
                tr(style='height: 15.75pt;', height='21')
                    td.xl69(style='height: 15.75pt; border-top: medium none; text-align: center;', height='21') 18
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl70(style='border-top: medium none; border-left: medium none;')
                    td.xl75(style='border-top: medium none; border-left: medium none; text-align: center;')
                        span(style='font-size: 8pt; color: #0000ff;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                        strong
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                        span(style='color: #ff0000;')
                            strong
                tr(style='height: 15.75pt;', height='21')
                    td.xl69(style='height: 15.75pt; border-top: medium none; text-align: center;', height='21') 19
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl70(style='border-top: medium none; border-left: medium none;')
                        strong
                    td.xl75(style='border-top: medium none; border-left: medium none; text-align: center;')
                        span(style='font-size: 8pt; color: #0000ff;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                        strong
                    td.xl67(style='border-top: medium none; border-left: medium none; text-align: center;')
                        span(style='color: #ff0000;')
                            strong
        .scores__legend
            .scores__legend-item
                strong н/к 
                | - неклассифицирован
            .scores__legend-item
                strong н/с 
                | - не стартовал
            .scores__legend-item
                strong д/к 
                | - дисквалифицирован
            .scores__legend-item
                strong поул 
                | - дает +1 очко
            .scores__legend-item
                strong лучший круг в гонке 
                | - дает +1 очко
            .scores__legend-item
                strong при количестве участвующих менее 10 
                | - все очки начисляются в половинном размере