mixin general-partners()
    section.general-partners
        a.general-partners__item(href="#")
            img.general-partners__image(src="./images/partners/logo-1.png", alt="")
        a.general-partners__item(href="#")
            img.general-partners__image(src="./images/partners/logo-2.png", alt="")