.content-box {
	background: #fff;
	border-radius: @defaultRadius;
	padding: 9px 10px 9px 9px;
	
	&__title {
		font-size: 18px;
		font-weight: normal;
		text-align: center;
		text-transform: uppercase;
	}
}