.content-box {
	background: #fff;
	border-radius: @defaultRadius;
	padding: 9px 10px 9px 9px;
	
	
	&__head {
		border-bottom: 1px solid #cccccc;
		padding-bottom: 5px;
		margin-right: 3px;
	}
	
	&__title {
		font-size: 18px;
		font-weight: normal;
		text-align: center;
		text-transform: uppercase;
		margin: 8px 0;
		
		&._red {
			font-weight: bold;
			color: @colorRed;
			font-size: 18px;
			text-align: left;
			margin: 8px 0 11px;
			line-height: 21px;
		}
	}
	
	&__intro {
		border-top: 1px solid @separatorColor;
		border-bottom: 1px solid @separatorColor;
		font-size: 18px;
		margin-bottom: 20px;
		padding: 6px 0;
		line-height: 21px;
		
		&-link {
			a& {
				font-size: 14px;
				font-weight: bold;
			}
		}
		
		&._link_only {
			padding: 2px 0 6px;
		}
	}
	
	&._page {
		padding: 11px 20px 31px;
	}
	
	&._requirements {
		min-height: 930px;
	}
	
	&__date {
		color: #808080;
		display: inline-block;
		margin-bottom: 2px;
	}
	
	img._rounded {
		border: 1px solid @imageBorderColor;
		border-radius: @defaultRadius;
	}
	
	.b-share {
		padding-left: 0 !important;
	}
	
	&._teams {
		padding: 20px 20px 37px 20px;
	}
}