extends ../layouts/index
block content
    .row
        .col._size_12
            .content-box._teams
                .infopage
                    .infopage__row
                        .infoblock._advert
                            h2.infoblock__title Аудитория зрителей
                            .infoblock__section
                                .infoblock__photos
                                    img.infoblock__photo(src="./images/content/advert-1.jpg", alt="")
                                .infoblock__content
                                    .infoblock__intro 
                                        | 1-3 октября прошел очередной, уже 7-й в сезоне 2014 года, этап нашей серии.
                                    p
                                        | Как много может изменить одно только слово, одно существительное, прилагательное, местоимения… 
                                        | В словосочетании «этап «Формулы Россия» в Сочи» не было бы особого драматизма, если бы не 
                                        | прилагательное «заключительный» в начале. Сочи добавили сложностей в проведении этапа. В ноябре 
                                        | там темнеет в 17-00. Причём «темнеет» по-взрослому, город укутывается в абсолютный сумрак. Интрига 
                                        | закручивалась, словно кобра, придавленная к земле рогатиной. Если братья Лобода не смогут удержать 
                                        | лидерство, сойдут по техническим или иным причинам, то появлялись шансы на чемпионскую корону и у 
                                        | других участников. В свободных практиках Юрий Лобода попробовал на прочность свой болид и 
                                        | прочность отбойника.
                    .infopage__row
                        .infoblock._advert
                            h2.infoblock__title Реклама на болидах
                            .infoblock__section
                                .infoblock__photos
                                    img.infoblock__photo(src="./images/content/advert-2.jpg", alt="")
                                .infoblock__content
                                    .infoblock__intro
                                        | 1-3 октября прошел очередной, уже 7-й в сезоне 2014 года, этап нашей серии.
                                    p
                                        | Как много может изменить одно только слово, одно существительное, прилагательное, местоимения… 
                                        | В словосочетании «этап «Формулы Россия» в Сочи» не было бы особого драматизма, если бы не 
                                        | прилагательное «заключительный» в начале. Сочи добавили сложностей в проведении этапа. В ноябре 
                                        | там темнеет в 17-00. Причём «темнеет» по-взрослому, город укутывается в абсолютный сумрак. Интрига 
                                        | закручивалась, словно кобра, придавленная к земле рогатиной. Если братья Лобода не смогут удержать 
                                        | лидерство, сойдут по техническим или иным причинам, то появлялись шансы на чемпионскую корону и у 
                                        | других участников. В свободных практиках Юрий Лобода попробовал на прочность свой болид и 
                                        | прочность отбойника.
                    .infopage__row
                        .infoblock._advert
                            h2.infoblock__title Другие рекламные возможности
                            .infoblock__section
                                .infoblock__photos
                                    img.infoblock__photo(src="./images/content/advert-3.jpg", alt="")
                                .infoblock__content
                                    .infoblock__intro
                                        | 1-3 октября прошел очередной, уже 7-й в сезоне 2014 года, этап нашей серии.
                                    p
                                        | Как много может изменить одно только слово, одно существительное, прилагательное, местоимения… 
                                        | В словосочетании «этап «Формулы Россия» в Сочи» не было бы особого драматизма, если бы не 
                                        | прилагательное «заключительный» в начале. Сочи добавили сложностей в проведении этапа. В ноябре 
                                        | там темнеет в 17-00. Причём «темнеет» по-взрослому, город укутывается в абсолютный сумрак. Интрига 
                                        | закручивалась, словно кобра, придавленная к земле рогатиной. Если братья Лобода не смогут удержать 
                                        | лидерство, сойдут по техническим или иным причинам, то появлялись шансы на чемпионскую корону и у 
                                        | других участников. В свободных практиках Юрий Лобода попробовал на прочность свой болид и 
                                        | прочность отбойника.
                    .infopage__row
                        .infoblock._advert
                            h2.infoblock__title Пример сотрудничества
                            .infoblock__section
                                .infoblock__photos
                                .infoblock__content
                                    .infoblock__intro
                                        | 1-3 октября прошел очередной, уже 7-й в сезоне 2014 года, этап нашей серии.
                                    p
                                        | Как много может изменить одно только слово, одно существительное, прилагательное, местоимения… 
                                        | В словосочетании «этап «Формулы Россия» в Сочи» не было бы особого драматизма, если бы не 
                                        | прилагательное «заключительный» в начале. Сочи добавили сложностей в проведении этапа. В ноябре 
                                        | там темнеет в 17-00. Причём «темнеет» по-взрослому, город укутывается в абсолютный сумрак. Интрига 
                                        | закручивалась, словно кобра, придавленная к земле рогатиной. Если братья Лобода не смогут удержать 
                                        | лидерство, сойдут по техническим или иным причинам, то появлялись шансы на чемпионскую корону и у 
                                        | других участников. В свободных практиках Юрий Лобода попробовал на прочность свой болид и 
                                        | прочность отбойника.
                    .infopage__row
                        .infoblock._advert
                            h2.infoblock__title Отзывы клиентов
                            .infoblock__section
                                .infoblock__photos
                                    img(src="./images/content/advert-4.jpg", alt="")
                                .infoblock__content
                                    .infoblock__intro
                                        | 1-3 октября прошел очередной, уже 7-й в сезоне 2014 года, этап нашей серии.
                                    p
                                        | Как много может изменить одно только слово, одно существительное, прилагательное, местоимения… 
                                        | В словосочетании «этап «Формулы Россия» в Сочи» не было бы особого драматизма, если бы не 
                                        | прилагательное «заключительный» в начале. Сочи добавили сложностей в проведении этапа. В ноябре 
                                        | там темнеет в 17-00. Причём «темнеет» по-взрослому, город укутывается в абсолютный сумрак. Интрига 
                                        | закручивалась, словно кобра, придавленная к земле рогатиной. Если братья Лобода не смогут удержать 
                                        | лидерство, сойдут по техническим или иным причинам, то появлялись шансы на чемпионскую корону и у 
                                        | других участников. В свободных практиках Юрий Лобода попробовал на прочность свой болид и 
                                        | прочность отбойника.