extends ../layouts/index
block content
    .row
        .col._size_8
            section.content-box._page
                .content-box__title._red Календарь серии на 2015 год

                +calendar
                p
                    | TBC - проведение этапа будет подтверждено дополнительно.
                p
                    | Регламент сезона сейчас находится на финальной стадии согласования с Комитетом 
                    | скоростных соревнований РАФ, но уже сейчас можно немного приоткрыть тайну над пакетом
                    | сюрпризов приближающегося сезона: стартовый и финальный этап будут иметь увеличенную 
                    | таблицу начисления очков, а именно - +20% и +50%, соответственно.
                p
                    | В данное время нами направлены в Российскую автомобильную федерацию (РАФ) документы на 
                    | проведение соревнований 2015 года в статусе Кубка России, подготовлен соответствующий 
                    | регламент. В ближайшее время наша заявка будет рассмотрена
                p
                    | Пакет технических обновлений техники и организационных обновлений регламента соревнований
                    | призваны сделать наши гонки максимально интересными для пилотов и зрителей.
                p
                    | Сейчас весь коллектив АНО "Формула-чемпионат" готовит гоночную технику к новому сезону и 
                    | с нетерпением ждет его начала.
        .col._size_4
            +sidebar('_inner')
