extends ../layouts/index
block content
    .row
        .col._size_8
            section.content-box._page
                .content-box__title._red 
                    | Технические требования к спортивным траспортным средствам класса "Формула-Россия".
                    br 
                    | Официальный текст.
                .content-box__intro._link_only
                    a.content-box__intro-link(href="#") Скачать документ в PDF
                
                .content-box__content
                    p 
                        | Текст документа должен быть тут.
                    p
                        | 1.1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod 
                        | bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo
                        | commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis 
                        | parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra 
                        | vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
                    p
                        | 1.2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod 
                        | bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo 
                        | commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis
                        | parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra 
                        | vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
                    p
                        | 1.3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod 
                        | bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo 
                        | commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis
                        | parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra 
                        | vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
                    p
                        | 1.4 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod 
                        | bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo 
                        | commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis 
                        | parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra 
                        | vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
                
        .col._size_4
            section.content-box.sidebar._inner
                .sidebar__row
                    +results
                .sidebar__row
                    +partners
                .sidebar__row
                    +social
