extends ../layouts/index
block content
    .row
        .col._size_12
            .content-box._teams
                .infopage
                    - for (i = 0; i < 2; i++) 
                        .infopage__row
                            .infoblock._teams
                                h2.infoblock__title SPSR Formula Team
                                .infoblock__section
                                    .infoblock__photos
                                        .team
                                            .team__member
                                                +member('', './images/content/person-1.jpg', 'Чубаров  Иван', 'г. Москва', '80')
                                            .team__member
                                                +member('_vacant')
                                    .infoblock__content
                                        .infoblock__intro
                                            | Команда - SPSR Formula Team – молодежная команда, выступающая в единственной российской серии в классе 
                                            | «формула». Формула России - это высшая ступень национального автоспорта России.
                                        p
                                            | Так как СПСР-ЭКСПРЕСС социально ориентированная компания, то создав свою команду - SPSR Formula Team,
                                            | мы, прежде всего, хотим поддержать молодежный спорт. Помочь молодым талантливым пилотам проявить себя.
                                            | Выбор вида спорта тоже не случаен. Автогонки – это точность, скорость и успех. Кроме того, 
                                            | победа пилота – это всегда результат колоссальной, слаженной и гармоничной работы каждого «звена»,
                                            | обладающего необходимыми компетенциями. Здесь важно все – осознание персональной ответственности, 
                                            | стремление к достижению максимальных результатов, умение ежесекундно понимать потребности членов команды, 
                                            | а также совершенствовать процедуры и технологические процессы. Такой подход импонирует нам как 
                                            | экспресс-оператору и полностью отражает наши принципы работы и взаимодействие с клиентами. 
                                            | Так мы раскрываем уникальную бизнес-формулу скорости и успеха на российском рынке.
                        .infopage__row
                            .infoblock._teams
                                h2.infoblock__title Astana Мotorsports
                                .infoblock__section
                                    .infoblock__photos
                                        .team
                                            .team__member
                                                +member('', './images/content/person-2.jpg', 'Любовь Андреева', 'г. Алматы', '46')
                                            .team__member
                                                +member('', './images/content/person-3.jpg', 'Ярославский Игорь', 'г. Москва', '20')
                                    .infoblock__content
                                        .infoblock__intro
                                            | Команда - SPSR Formula Team – молодежная команда, выступающая в единственной российской серии в классе 
                                            | «формула». Формула России - это высшая ступень национального автоспорта России.
                                        p
                                            | Так как СПСР-ЭКСПРЕСС социально ориентированная компания, то создав свою команду - SPSR Formula Team,
                                            | мы, прежде всего, хотим поддержать молодежный спорт. Помочь молодым талантливым пилотам проявить себя.
                                            | Выбор вида спорта тоже не случаен. Автогонки – это точность, скорость и успех. Кроме того, 
                                            | победа пилота – это всегда результат колоссальной, слаженной и гармоничной работы каждого «звена»,
                                            | обладающего необходимыми компетенциями. Здесь важно все – осознание персональной ответственности, 
                                            | стремление к достижению максимальных результатов, умение ежесекундно понимать потребности членов команды, 
                                            | а также совершенствовать процедуры и технологические процессы. Такой подход импонирует нам как 
                                            | экспресс-оператору и полностью отражает наши принципы работы и взаимодействие с клиентами. 
                                            | Так мы раскрываем уникальную бизнес-формулу скорости и успеха на российском рынке.