mixin documents()
    .documents
        .documents__item
            .document
                a.document__preview(href="#")
                    img(src="./images/content/doc-1.jpg")
                a.document__name(href="#") 
                    | Соглашение с Ferrari 
                    br 
                    | (pdf)
        .documents__item
            .document
                a.document__preview(href="#")
                    img(src="./images/content/doc-2.jpg")
                a.document__name(href="#") 
                    | Соглашение с Tatuus
                    br
                    | (pdf)
        .documents__item
            .document
                a.document__preview(href="#")
                    img(src="./images/content/doc-3.jpg")
                a.document__name(href="#") 
                    | Поддержка РАФ 
                    br
                    | (pdf)
        .documents__item
            .document
                a.document__preview(href="#")
                    img(src="./images/content/doc-4.jpg")
                a.document__name(href="#") 
                    | Соглашение
                    br 
                    | (pdf)