@font-face {
    font-family: 'Play';
    src: url('@{fontsPath}/play-regular-webfont.eot');
    src: url('@{fontsPath}/play-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('@{fontsPath}/play-regular-webfont.woff2') format('woff2'),
    url('@{fontsPath}/play-regular-webfont.woff') format('woff'),
    url('@{fontsPath}/play-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Play';
    src: url('@{fontsPath}/play-bold-webfont.eot');
    src: url('@{fontsPath}/play-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('@{fontsPath}/play-bold-webfont.woff2') format('woff2'),
    url('@{fontsPath}/play-bold-webfont.woff') format('woff'),
    url('@{fontsPath}/play-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'fontello';
    src: url('@{fontsPath}/fontello.eot?85782286');
    src: url('@{fontsPath}/fontello.eot?85782286#iefix') format('embedded-opentype'),
    url('@{fontsPath}/fontello.woff?85782286') format('woff'),
    url('@{fontsPath}/fontello.ttf?85782286') format('truetype'),
    url('@{fontsPath}/fontello.svg?85782286#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}