
@fontsPath: '../fonts';
@imagesPath: '../images';
@base64Path: '@{imagesPath}/base64';


@fontFamilyPlay: Play, Arial, sans-serif;


@borderGray: #878788;

@contentBackgroundRGB: #2f2f30;
@contentBackgroundRGBA: rgba(46,47,45, 0.5);
