mixin video()
    .video
        .video__container
            iframe(width="560", height="315", src="https://www.youtube.com/embed/S0C1i-TaoZE?rel=0&amp;showinfo=0", frameborder="0", allowfullscreen)
        .video__info
            a.video__title(href="#") Вести-Спорт- 5 этап RRC
            .video__desc
                | Сюжет о 5 этапе Russian Racing Championship, прошедший в эфире программы "Вести-Спорт" ТК "Россия 2"
            .video__share
                | <script type="text/javascript" src="//yastatic.net/share/share.js" charset="utf-8"></script>
                | <div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="small" 
                | data-yashareQuickServices="vkontakte,facebook,twitter" data-yashareTheme="counter"></div>