mixin photos()
    .photos
        a.photos__item(href="#")
            img.photos__image(src="./images/content/photo-1.jpg")
        a.photos__item(href="#")
            img.photos__image(src="./images/content/photo-2.jpg")
        a.photos__item(href="#")
            img.photos__image(src="./images/content/photo-3.jpg")
        a.photos__item(href="#")
            img.photos__image(src="./images/content/photo-4.jpg")