mixin logo-box(className)
    if className == '_partners'
        section.content-box.logo-box
            h1.content-box__title Партнеры
            .logo-box__grid
                a.logo-box__item(href="#")
                    img.logo-box__image(src="./images/partners/logo-3.png")
                a.logo-box__item(href="#")
                    img.logo-box__image(src="./images/partners/logo-4.png")
                a.logo-box__item(href="#")
                    img.logo-box__image(src="./images/partners/logo-5.png")
                a.logo-box__item(href="#")
                    img.logo-box__image(src="./images/partners/logo-6.png")
                a.logo-box__item(href="#")
                    img.logo-box__image(src="./images/partners/logo-7.png")
                a.logo-box__item(href="#")
                    img.logo-box__image(src="./images/partners/logo-8.png")
                a.logo-box__item(href="#")
                    img.logo-box__image(src="./images/partners/logo-9.png")
                a.logo-box__item(href="#")
                    img.logo-box__image(src="./images/partners/logo-10.png")
                a.logo-box__item(href="#")
                    img.logo-box__image(src="./images/partners/logo-11.png")
                a.logo-box__item(href="#")
                    img.logo-box__image(src="./images/partners/logo-12.png")
                a.logo-box__item(href="#")
                    img.logo-box__image(src="./images/partners/logo-13.png")
                a.logo-box__item(href="#")
                    img.logo-box__image(src="./images/partners/logo-14.png")
                a.logo-box__item(href="#")
                    img.logo-box__image(src="./images/partners/logo-15.png")
    else if className == '_teams'
        section.content-box.logo-box
            h1.content-box__title Команды
            .logo-box__grid
                a.logo-box__item._1st(href="#")
                    img.logo-box__image(src="./images/teams/team-1.png")
                a.logo-box__item._2nd(href="#")
                    img.logo-box__image(src="./images/teams/team-2.png")
                a.logo-box__item._3rd(href="#")
                    img.logo-box__image(src="./images/teams/team-3.png")
                a.logo-box__item(href="#")
                    img.logo-box__image(src="./images/teams/team-4.png")