mixin contacts-card()
    .contacts-card
        .contacts-card__item._location 
            | 115280, Москва, Автозаводская ул., Дом 23, стр. 59
        .contacts-card__item._phone
            | +7 (495) 505-63-14 
        .contacts-card__item._email
            | mail@formula-champ.ru
                
                
            