mixin header()
    header.header
        .header__top
            .header__logo
                +logo
            .header__nearest
                +nearest-stage
            .header__search
                +search-field
        .header__menu
            +main-menu